body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color setting */
  --primary-color: #fc3c3c;
  --secondary-color: #083358;
  --tertiary-color: #0f4471;
  --dimmed-color: #a9a9a9;
  --background-color: #f6f6f6;

  background-color: var(--background-color);
  color: var(--tertiary-color);
}
